{% extends "base.html" %}
{% load static %}



{% block content %}
      <div class="login-form-container">
      <div class="container-fluid ml-1 login-form">
        <h2>Login to your Account</h2>
        <p>Welcome back! Select the below login methods.</p>


        <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}

            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control form-control-sm" id="username" name="username"
              aria-describedby="emailHelp" placeholder="Enter username" value="{{ form.username.value|default:''  }}">
              {% for error in form.username.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
              </div>
            <div class="form-group ">
              <label for="password">Password</label>
              <input type="password" class="form-control form-control-sm " id="password" name="password"
              placeholder="Password" value="{{ form.password.value|default:''  }}">
              {% for error in form.password.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                <label class="form-check-label" for="remember_me">Remember me</label>

            </div>
            <button type="submit" class="btn btn-login">Login</button>

          </form>


          <hr>
          <p>or login with</p>
          <ul class="navbar-nav d-flex flex-row align-items-center me-auto me-auto my-2 my-lg-0">
            <li class="nav-item"><a class="nav-link" href="https://accounts.google.com/signin" ><img src="{% static 'images/icon/google1.png' %}"
            alt=""></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/login/"><img src="{% static 'images/icon/facebook1.png' %}"
            alt=""></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/login/"><img src="{% static 'images/icon/linkedln1.png' %}" alt=""></a></li>

        </ul>
        <p>Don’t have an account? <a href="{% url "users:register" %}">Register</a></p>
      </div>
      </div>


{% endblock %}

