{% extends "base.html" %}
{% load static %}
{% block content %}
 <!-- Hero Section -->
<header class="about text-center">
    <div>
        <h1>About JobSearchPro</h1>
        <p>Empowering talent and opportunity to connect seamlessly.</p>
    </div>
</header>

<!-- Highlights Section -->
<section class="highlights ">
    <div class="container">
        <h2 class="text-center mb-4">Why Choose Us?</h2>
        <div class="row justify-content-center">
            <ul class="list-unstyled col-md-6">
                <li class="mb-3 text-center">AI-powered job matching</li>
                <li class="mb-3 text-center">Global opportunities</li>
                <li class="mb-3 text-center">Easy-to-use platform</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}