{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5">
    <h1 class="text-center">Post a New Job</h1>
    <p class="text-center">Fill out the form below to post a job listing.</p>

    <form class="p-4 bg-white shadow-sm rounded" method="post" action="{% url 'posts:posts' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Post Job</button>
        </div>
    </form>
</div>
{% endblock %}
